<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar anotação</title>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/getit.css" />
  </head>

  <body>
    <div class="appbar">
      <img src="/img/logo-getit.png" class="logo" />
      <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>

    <main class="container">
      <form class="form-card form-card-editar" method="post" action="/edit">
        <h2 class="form-titulo">Editar anotação</h2>

        <input type="hidden" name="id" value="{id}" />

        <input
          class="form-card-title"
          type="text"
          name="titulo"
          placeholder="Título"
          value="{title}"
        />
        <textarea
          class="autoresize"
          name="detalhes"
          placeholder="Digite o conteúdo..."
        >{details}</textarea>

        <div class="form-acoes">
          <button class="btn" type="submit">Salvar</button>
          <a class="btn btn-cancelar" href="/">Cancelar</a>
        </div>
      </form>
    </main>
  </body>
</html>